.green{
  height:100px;
  background-color:green;
}
.red{
  height:100px;
  background-color:red;
}
.yellow{
  height:100px;
  background-color:#aeb9c2;
}
/*MEDIA QUERIES*/
@media only screen and (max-width: 768px) {
  .red{
    background-color: blue;
  }
  .green{
    background-color:yellow;
  }
  .yellow{
    height:100px;
    background-color:black;
  }
}
@media only screen and (max-width: 375px) {
  .red{
    background-color:purple;
    }
    .green{
      background-color:aqua;
    }
    .yellow{
      height:100px;
      background-color:grey;
    }
}
